/* importación de tipografía inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}


/* Varibles */
:root{
    /* Paleta de colores */
    --white: #FFF;
    --black: #000;
    --ligth-blue: #F3F5FC;
    --dark-blue: #0A3871;
    --gray: #495057;
    --dark-gray: #343A40;
    /* Tipografías */
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    background-color: var(--ligth-blue);    
}


/* Encabezado y barra de navegación */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0% 1% 0%;
    color: var(--dark-blue);
    box-shadow: 0 5px 30px var(--gray);
}

.logo{
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 0% 2% 0% 0%;
}

.navbar__link{
    margin-right: 2rem;
    white-space: nowrap;
}

.navbar__link:hover{
    font-weight: bolder;
}


/* cuerpo de la página */
.main__box{
    display: flex;
    justify-content: space-evenly;
    margin: 1% 0% 0% 0%;
    gap: 3%;
}

/* sección del texto de entrada */
.input__section{
    background-color: greenyellow;
    max-width: 60%;
}

.input__area{

}

.inputs__text__area{
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    color: var(--dark-blue);
    border: none;
    background-color: var(--ligth-blue);
    resize: none;
    border-radius: 5%;
    padding: 5%;
    /* font-size: ; */
}

/* sección del texto de salida */
.output__section{
    background-color: palevioletred;
    max-width: 40%;
}


/* pie de pagina */
.footer{
    background-color: var(--ligth-blue);
    color: var(--gray);
    text-align: center;
    padding: 1.5vh;
}

/* TODO */
/* [ ] decoración al hover de los enlaces y botones */
/* [ ] responsividad */
/* [ ] sombreado del header */