/* importación de tipografía inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}


/* Varibles */
:root{
    /* Paleta de colores */
    --white: #FFF;
    --black: #000;
    --ligth-blue: #F3F5FC;
    --dark-blue: #0A3871;
    --gray: #495057;
    --dark-gray: #343A40;
    --hover-blue: #D8DFE8;
    /* Tipografías */
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    background-color: var(--ligth-blue);    
}


/* Encabezado y barra de navegación */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0% 1% 0%;
    color: var(--dark-blue);
    box-shadow: 0 5px 30px var(--gray);
}

.logo{
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 0% 2% 0% 0%;
}

.navbar__link{
    margin-right: 2rem;
    white-space: nowrap;
}

.navbar__link:hover{
    font-weight: bolder;
}


/* cuerpo de la página */
.main__box{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 1% 0% 0% 8%;
    gap: 5%;
}

/* sección del texto de entrada */
.input__section{
    background-color: greenyellow;
    max-width: 70%;
    display: flex;
    flex-direction: column; 
}

.input__area{
    max-width: 100%;
}

.details__buttons{
    /* background-color: var(--ligth-blue); */
    margin-top: auto; /* Pushes this element to the bottom */
    padding: 10px; /* Optional padding for the bottom content */
}

.details{
    margin-top: auto;
    display: flex;
    color: var(--gray);
    gap: 1%;
    font-size: smaller;
    padding: 1% 1% 1% 1%;
}

.icon{
    max-width: 3%;
}

.buttons__area{
    margin-top: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1% 0% 10% 0%;
}

#input-text-area{
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    color: var(--dark-blue);
    border: none;
    background-color: var(--ligth-blue);
    resize: none;
    border-radius: 5%;
    padding: 5%;
}

/* botones */
.button__solid{
    background-color: var(--dark-blue);
    color: var(--white);
    border: solid var(--dark-blue);
    border-radius: 15px;
    padding: 2% 8% 2% 8%;
}

.button__solid:hover {
    background-color: var(--hover-blue);
    color: var(--dark-blue);
}

.button__transparent{
    background-color: transparent;
    color: var(--dark-blue);
    border: solid var(--dark-blue);
    border-radius: 15px;
    padding: 2% 8% 2% 8%;
}

.button__transparent:hover{
    background-color: var(--hover-blue);
}

/* sección del texto de salida */
.output__section{
    background-color: palevioletred;
    max-width: 30%;
}

#output-text-area{
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    color: var(--dark-gray);
    border: none;
    background-color: var(--ligth-blue);
    resize: none;
    border-radius: 5%;
    padding: 5%;
}

/* pie de pagina */
.footer{
    background-color: var(--ligth-blue);
    color: var(--gray);
    text-align: center;
    padding: 1.5vh;
}

/* TODO */
/* [ ] decoración al hover de los enlaces y botones */
/* [ ] responsividad */
/* [ ] sombreado del header */